@import './mixin.scss';
/* 向上弹出 */
@mixin bounceoutT($time: 1s) {
        @include animation-easein('bounceoutT', $time);
}
@-webkit-keyframes bounceoutT {
        0% { -webkit-transform: translateY(0) }
        20% { opacity: 1; -webkit-transform: translateY(20px) }
        100% { opacity: 0; -webkit-transform: translateY(-100px) }
}
@-moz-keyframes bounceoutT {
        0% { -moz-transform: translateY(0) }
        20% { opacity: 1; -moz-transform: translateY(20px) }
        100% { opacity: 0; -moz-transform: translateY(-100px) }
}
@-ms-keyframes bounceoutT {
        0% { -ms-transform: translateY(0) }
        20% { opacity: 1; -ms-transform: translateY(20px) }
        100% { opacity: 0; -ms-transform: translateY(-100px) }
}
@keyframes bounceoutT {
        0% { transform: translateY(0) }
        20% { opacity: 1; transform: translateY(20px) }
        100% { opacity: 0; transform: translateY(-100px) }
}