@import './mixin.scss';
/* 从左淡入 */
@mixin fadeinL($time: 1s) {
        @include animation-easeout('fadeinL', $time);
}
@-webkit-keyframes fadeinL {
        0% { opacity: 0; -webkit-transform: translateX(-100px) }
        100% { opacity: 1; -webkit-transform: translateX(0) }
}
@-moz-keyframes fadeinL {
        0% { opacity: 0; -moz-transform: translateX(-100px) }
        100% { opacity: 1; -moz-transform: translateX(0) }
}
@-ms-keyframes fadeinL {
        0% { opacity: 0; -ms-transform: translateX(-100px) }
        100% { opacity: 1; -ms-transform: translateX(0) }
}
@keyframes fadeinL {
        0% { opacity: 0; transform: translateX(-100px) }
        100% { opacity: 1; transform: translateX(0) }
}