@mixin animation($name, $code) {
             -webkit-animation: $code;
                -moz-animation: $code;
                 -ms-animation: $code;
                     animation: $code;
        -webkit-animation-name: $name;
           -moz-animation-name: $name;
            -ms-animation-name: $name;
                animation-name: $name;
}
@mixin animation-ease($name, $time: 1s) {
       @include animation($name, $time ease)
}
@mixin animation-easeout($name, $time: 1s) {
       @include animation($name, $time ease-out backwards)
}
@mixin animation-easein($name, $time: 1s) {
       @include animation($name, $time ease-in forwards)
}