@import './mixin.scss';
/* 从右上转入 */
@mixin rotateinRT($time: 1s) {
        @include animation-easeout('rotateinRT', $time);
}
@-webkit-keyframes rotateinRT {
        0% { -webkit-transform-origin: right bottom; -webkit-transform: rotate(90deg); opacity: 0 }
        100% { -webkit-transform-origin: right bottom; -webkit-transform: rotate(0); opacity: 1 }
}
@-moz-keyframes rotateinRT {
        0% { -moz-transform-origin: right bottom; -moz-transform: rotate(90deg); opacity: 0 }
        100% { -moz-transform-origin: right bottom; -moz-transform: rotate(0); opacity: 1 }
}
@-ms-keyframes rotateinRT {
        0% { -ms-transform-origin: right bottom; -ms-transform: rotate(90deg); opacity: 0 }
        100% { -ms-transform-origin: right bottom; -ms-transform: rotate(0); opacity: 1 }
}
@keyframes rotateinRT {
        0% { transform-origin: right bottom; transform: rotate(90deg); opacity: 0 }
        100% { transform-origin: right bottom; transform: rotate(0); opacity: 1 }
}